@page "/Test"
@inject HttpClient Http

<h1>This is the start of my reusable layout</h1>

<div class="Content">
    -- Some kind of indicator to specify the page's content will go here --
</div>

<footer>
    This is the end of the layout
</footer>